/* for desktop view below */

@media screen and (min-width:1000px) {

  /* start */

/* hero area */

  
.resumejourney {
  
  height: 60%;
  width: 60%;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
}

.billysillyhero {

  height: 40%;
  width: 40%;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  float: right;
}


.thankyou{

  color: red;
  font-size: 45px;

}


/* pictures as marked */


.pictureAP{

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  height:50%;
  width:50%;

}


.pictureAward{

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  height:40%;
  width:40%;

}

.pictureLiveGood{

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 85px;
  height:70%;
  width:70%;

}

.pictureFuture{

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  height:40%;
  width:40%;

}


/* body text for site */



.bodytextindex {

  font-size: 30px;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;

  font-size: 3.5rem;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 20px;
}

/* link controls in body text web site listings */


.sitelink {

  text-decoration: underline;
  color: rgb(170, 108, 108);
  font-family: Arial, Helvetica, sans-serif;
}


.sitelink:hover {


  text-decoration: underline;
  color: red;
  background-color: yellow;


}



/* for span area to add bold color to words */


.pro{
  color:red;

}

.pro2{
  color:green;


}

.pro3{
  color:blue;


}

    /* controls the padding and margin for the body text */


    #features {
      padding: 5% 4%;
      background-color: white;
      position: relative;
      
      }
    
    /* horizontal rules */

    
    hr {
    
      border: solid black 6px;
      border-bottom: none;
      width: 100%;
      margin: 100px auto;
    }
    
  
    .headerA {

      color: red;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 65px;
      padding-left: 45px;
      margin-bottom: 50px;
    }


/* yellow box on bottom of index page only */


#allAbord_block{

  background-color: yellow;
}



.HeaderTrueLove{

  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 45px;
}


/* email button control on bottom of page in yellow block */

.btn2 {
   background: #F63D3D;
   background-image: -webkit-linear-gradient(top, #F63D3D, #811616);
   background-image: -moz-linear-gradient(top, #F63D3D, #811616);
   background-image: -ms-linear-gradient(top, #F63D3D, #811616);
   background-image: -o-linear-gradient(top, #F63D3D, #811616);
   background-image: -webkit-gradient(to bottom, #F63D3D, #811616);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 10px;
   line-height: 10px;
   color: yellow;
   font-family: Road Rage;
   width: 249px;
   font-size: 60px;
   font-weight: 900;
   padding: 28px;
   -webkit-box-shadow: 1px 1px 6px 0 #000000;
   -moz-box-shadow: 1px 1px 6px 0 #000000;
   box-shadow: 1px 1px 6px 0 #000000;
   text-shadow: 1px 1px 6px #000000;
   border: solid #762C2C 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;

}




/* yellow block area */


.ThankyouAgain {

  padding-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 165px;
  line-height: 210px;
  color: black;
  font-family: 'Road Rage', cursive;
  text-align: center;

}

.getTogether {

  padding-top: 25px;
  font-size: 145px;
  color: green;
  font-family: 'Road Rage', cursive;
  text-align: center;
  line-height: 145px;
  padding-left: 50px;
  padding-right: 50px;

}



.footerindex {
  padding: 50px;
  text-align: center;
  font-size: 28px;
  color:white;
  background-color: black;
  
  }













  /* end */


}


  
  

    /* start of css here for mobile (below) */


  @media screen and (min-width:668px) and (max-width: 999px) {


  /* start */

/* hero area */

  
.resumejourney {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  height:100%;
  width:100%;

}

.billysillyhero {

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  height:80%;
  width:80%;
  background-size: 100%;
}


.thankyou{

  color: red;
  font-size: 55px;

}


/* pictures as marked */


.pictureAP{

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  height:80%;
  width:80%;

}


.pictureAward{

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  height:70%;
  width:70%;

}

.pictureLiveGood{

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 85px;
  height:100%;
  width:100%;

}

.pictureFuture{

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  height:40%;
  width:40%;

}


/* body text for site */



.bodytextindex {

  font-size: 50px;
}

.headerA {

  color: red;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 65px;
  background-color: yellow;
  padding-left: 45px;
  margin-bottom: 50px;
}

/* link controls in body text web site listings */


.sitelink {

  text-decoration: underline;
  color: rgb(170, 108, 108);
  font-family: Arial, Helvetica, sans-serif;
}


.sitelink:hover {


  text-decoration: underline;
  color: red;
  background-color: yellow;


}



/* for span area to add bold color to words */


.pro{
  color:red;

}

.pro2{
  color:green;


}

.pro3{
  color:blue;


}

    /* controls the padding and margin for the body text */


    #features {
      padding: 5% 4%;
      background-color: white;
      position: relative;
      
      }
    
    /* horizontal rules */

    
    hr {
    
      border: solid black 6px;
      border-bottom: none;
      width: 100%;
      margin: 100px auto;
    }
    
  



/* yellow box on bottom of index page only */


#allAbord_block{

  background-color: yellow;
}



.HeaderTrueLove{

  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 45px;
}


/* email button control on bottom of page in yellow block */

.btn2 {
   background: #F63D3D;
   background-image: -webkit-linear-gradient(top, #F63D3D, #811616);
   background-image: -moz-linear-gradient(top, #F63D3D, #811616);
   background-image: -ms-linear-gradient(top, #F63D3D, #811616);
   background-image: -o-linear-gradient(top, #F63D3D, #811616);
   background-image: -webkit-gradient(to bottom, #F63D3D, #811616);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 10px;
   line-height: 10px;
   color: yellow;
   font-family: Road Rage;
   width: 249px;
   font-size: 60px;
   font-weight: 900;
   padding: 28px;
   -webkit-box-shadow: 1px 1px 6px 0 #000000;
   -moz-box-shadow: 1px 1px 6px 0 #000000;
   box-shadow: 1px 1px 6px 0 #000000;
   text-shadow: 1px 1px 6px #000000;
   border: solid #762C2C 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;

}




/* yellow block area */


.ThankyouAgain {

  padding-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 165px;
  line-height: 210px;
  color: black;
  font-family: 'Road Rage', cursive;
  text-align: center;

}

.getTogether {

  padding-top: 25px;
  font-size: 145px;
  color: green;
  font-family: 'Road Rage', cursive;
  text-align: center;
  line-height: 145px;
  padding-left: 50px;
  padding-right: 50px;

}



.footerindex {
  padding: 50px;
  text-align: center;
  font-size: 28px;
  color:white;
  background-color: black;
  
  }













  /* end */ 



}











